body{
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
    background-color: crimson;
}
#logo
{
    text-align: center;
    width: 20%;
    float: left;
}
#menu
{
    width: 70%;
    float: left;
    margin-right: 10%;
}
#menu ul
{
    padding-left: 0px;
}
#menu ul li
{
    list-style: none;
    width: 15%;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: coral;
    text-align: center;
    font-family: fantasy;
}

#menu ul li:nth-child(odd){
    background-color: black;
    color:wheat;
}
#menu ul li:nth-child(1)
{
    margin-left: 40%;
}